@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: content-box;
}
body{
    font-family:'Open sans', sans-serif;
    background-color: #131633;
    font-weight:600;
   color:#34495e;
    line-height:1.5;
}

header{
    grid-area:header;
    background-color: dimgray;
}
nav{
    grid-area: nav;
    margin:0 auto;
}
.login{
    grid-area: login;
    
}
.enhance-your-career{
    grid-area: enhance-your-career;

}
.important-stats{
    grid-area:important-stats ;

}
.build-apps{
    grid-area:build-apps ;

}
.build-games{
    grid-area: build-games;

}
.build-websites{
    grid-area: build-websites;
}
header h1{
    font-size: 4em ;
    text-align: center;
    color:white;
    margin-bottom:20px;
    text-shadow: 2px 2px #22638E;
}
.options{
    width:95%;
    background-color:white;
    padding:10px;
    border-top:3px solid #3498db;
    border-radius:3px;

    display:flex;
    align-items:center;
    justify-content: space-around;
}
.options-link{
    text-decoration: none;
    font-size:0.9em;
    color:#3498db;
}
.option-link:hover{
    color:darkgreen;
    text-decoration:underline ;
}
.card{
    background-color: white;
}
.card-blue{
    background-color: #9ebcf5;
}
.card-title{
    color:white;
    background-color: #4f97d5;
    font-size:1.25rem;
    padding:5px;
    margin-bottom:10px;
    text-align:center

}
section{
    padding:10px;
    text-align: center;
}
.garphs{
    font-size:100px;
    line-height: 1;
    margin:10px 0;
    text-align: center;
}

.profile{
    width:50%;
    border-radius:50%;
    margin-bottom: 5px;
    border:6px solid #4f97d5
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
input{
    width: 85%;
    color:darkblue;
    background-color: aliceblue;
    font-size:1.25em;
    padding:5px;
    margin-bottom:10px;
    text-align:center;
}
section img{
    max-width: 100%;
}
section p{
    text-align: left;
}
.btn{
    display:inline-block;
    background:#3498db;
    border-radius:28px;
    color:white;
    font-size:15px;
    padding:10px 20px 10px 20px;
    text-decoration:none;
    margin-bottom: 10px;
}
.btn:hover{
    background-color: #3cb0fd;
}
@media screen and (min-width:1100px){
    main{
        width:90%;
        max-width: 800px;
    
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto 4vh auto auto 10vh;
        grid-gap:15px;
        margin:0 auto;
    
    }
    .container{
        grid-template-areas: "header header header"
        "nav nav nav"
        "login enhance-your-career important-stats"
         "build-apps build-games build-websites"
         "footer footer footer";
        
    }
    div{
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
    }
}
@media screen and (max-width:1100px){
    main{
        width:90%;
        max-width: 800px;
    
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 4vh auto auto auto 10vh;
        grid-gap:15px;
        margin:0 auto;
    
    }
    .container{
        grid-template-areas: "header header "
        "nav nav"
        "login enhance-your-career" 
        " important-stats build-apps"
         "build-games build-websites"
         "footer footer ";
        
    }
    section{
        padding:10px;
        text-align: center;
    }
    .garphs{
        font-size:100px;
        line-height: 1;
        margin:10px 0;
        text-align: center;
    }
    
    .profile{
        width:50%;
        border-radius:50%;
        margin-bottom: 5px;
        border:6px solid #4f97d5
    }
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .header h1{
        font-size:2.5em;
    }
    section{
        font-size:14px;
        padding:10px;
    }
    .profile{
        width:20%;
    }
    .graphs{
        font-size:90px;
        margin:3% 0 0 ;
    }
    div{
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
    }
}
   

@media screen and (max-width:500px){
    main{
        width:90%;
        max-width: 800px;
    
        display:grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto auto auto auto auto auto 20vh ;
        grid-gap:15px;
        margin:0 auto;
    
    }
    .container{
        grid-template-areas: "header"
        "nav"
        "login"
        "enhance-your-career" 
        " important-stats "
        "build-apps"
         "build-apps" 
         "build-games"
         " build-websites"
         "footer";
        
    }
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
    header h1{
        font-size: 1.75em;
        margin-bottom: 0;  
    }
    nav{
        margin-top: 0;
    }
    .options{
        font-size:12px;
    }
    
    div{
        border-bottom-left-radius:0px;
        border-bottom-right-radius:0px;
    }
}

